html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
.container,
.title {
    display: flex;
    background-color: #26213e;
}

body {
    font-family: "Sora", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    color: #ececec;
    font-size: 28px;
    font-weight: 600;
    gap: 1px;
}

.container {
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.pixel {
    border: 1px solid #a8adb3;
    border-radius: 4%;
    width: calc(600px / 16);
    height: calc(600px / 16);
    background-color: #f8f5ff;
}

.resize-btn {
    background-color: #f8f5ff;
    font-family: inherit;
    margin-top: 12px;
    font-size: 16px;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
}

.resize-btn:hover {
    background-color: #635c84;
}
